$padding: 16px;
$margin: 16px;

$large_margin: 24px;
$padding_large: 24px;

$nav_grey: #757575;

$black: black;

$logo_font_size: 24px;

$nav_font_size: 18px;

$nav_dropdown_font_size: 15px;

$nav_item_bg_color: #ccc;

$large_font_size: 24px;

$top_img_title_font_size: 64px;

$p-margin: 15px;

$bigLeftMargin: 250px;

$cart-description_font_size: 16px;

$cart-item-content_padding: 10px;

$checkout-btn_color: #96ce96;

$mobile-header_bg_color: black;

$white: white;

$desktop-breakpoint: 992px;
$tablet-breakpoint: 600px;

$top_img_title_font_size--desktop: 36px;

$footer-bg__color: #f1f1f1;

$h2__font-size: 30px;
$h4__font-size: 20px;

$container__max-width: 1200px;
