$padding: 16px;
$margin: 16px;

$large_margin: 24px;
$padding_large: 24px;

$nav_grey: #757575;

$black: black;

$logo_font_size: 24px;

$nav_font_size: 18px;

$nav_dropdown_font_size: 15px;

$nav_item_bg_color: #ccc;

$large_font_size: 24px;

$top_img_title_font_size: 64px;

$p-margin: 15px;

$bigLeftMargin: 250px
